snippet #inc "#include<...>" bA
#include<$1>
$0
endsnippet

snippet intm "int main(..." bA
int main(int argc, char *argv[]){
	$0
	return 0;
}
endsnippet

snippet for "for(){}" bA
for($1){
	$0
}
endsnippet

snippet while "while(){}" bA
while($1){
	$0
}
endsnippet

snippet prii "print int" bA
printf("%d\n",$1);
$2
endsnippet

